<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.mapper.AdminMapper" >

<resultMap id="baseResultMap" type="com.ke.entity.Admin" >
  		<id column="id" property="id" />
 	  	 <result column="user_id" property="userId" />
 	  	 <result column="role_names" property="roleNames" />
</resultMap>
  
  
  
<insert id="insert" parameterType="com.ke.entity.Admin" useGeneratedKeys="true" keyProperty="id" >
  insert into `admin` (user_id,role_names)
  values (#{userId},#{roleNames})
</insert>
  
<delete id="delete">
    delete from `admin` where id = #{id}
</delete>
  
  
<update id="update" parameterType="com.ke.entity.Admin" >
    update `admin`
    <set >
    	  id = #{id},
    	  user_id = #{userId},
    	  	role_names = #{roleNames}
    </set>
    where id = #{id}
 </update>
  
  
<update id="merge" parameterType="com.ke.entity.Admin" >
    update `admin`
<set>
 	 <if test="id != null" >
    	  id = #{id},
     </if>
 	 <if test="userId != null" >
    	  user_id = #{userId},
     </if>
     <if test="roleNames != null" >
     	  role_names = #{roleNames}
     </if>
    </set>
    where id = #{id}
  </update>
 
<select id="findOne" resultMap="baseResultMap" parameterType="long">
	select  
		id,user_id,role_names
	from
		`admin`
	where id = #{id}	
</select>
  
<select id="findAll" resultMap="baseResultMap" parameterType="com.ke.model.query.AdminQueryModel" >
    select 
   	id,user_id,role_names
    from `user`
   	<where>
   		<if test="nicknameLK != null">
			<bind name="nicknameLK" value="'%' + nicknameLK + '%'"/> and nickname like #{nicknameLK}
		</if>
   		<if test="phoneEQ != null">
			 and phone = #{phoneEQ}
		</if>
	</where>
	<choose>
		<when test="orderByAndDirection != null">
			order by ${orderByAndDirection}
		</when>
		<otherwise>
			order by id desc
		</otherwise> 
	</choose>
	<if test="offset != null">
		limit #{offset}, #{pageSize}
	</if>
  </select>
  
  <select id="count" resultType="_long" parameterType="com.ke.model.query.AdminQueryModel" >
    select 
    count(*)
    from `user`
   	<where>
   			<if test="nicknameLK != null">
			<bind name="nicknameLK" value="'%' + nicknameLK + '%'"/> and nickname like #{nicknameLK}
		</if>
   			<if test="phoneEQ != null">
			 and phone = #{phoneEQ}
		</if>
	</where>
  </select>
    
</mapper>