<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.mapper.ChapterMapper" >

<resultMap id="baseResultMap" type="com.ke.entity.Chapter" >
  		<id column="id" property="id" />
 	  	 <result column="parent_id" property="parentId" />
 	  	 <result column="lesson_id" property="lessonId" />
 	  	 <result column="title" property="title" />
  		 <result column="chapter_type" property="chapterType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
 	  	 <result column="time_length" property="timeLength" />
 	  	 <result column="ref_id" property="refId" />
</resultMap>
  
  
  
<insert id="insert" parameterType="com.ke.entity.Chapter" useGeneratedKeys="true" keyProperty="id" >
  insert into `chapter` (parent_id,lesson_id,title,chapter_type,time_length,ref_id)
  values (#{parentId},#{lessonId},#{title},#{chapterType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{timeLength},#{refId})
</insert>
  
<delete id="delete">
    delete from `chapter` where id = #{id}
</delete>
  
  
<update id="update" parameterType="com.ke.entity.Chapter" >
    update `chapter`
    <set >
    	  id = #{id},
    	  parent_id = #{parentId},
    	  lesson_id = #{lessonId},
    	  title = #{title},
			chapter_type = #{chapterType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
    	  time_length = #{timeLength},
    	  	ref_id = #{refId}
    </set>
    where id = #{id}
 </update>
  
  
<update id="merge" parameterType="com.ke.entity.Chapter" >
    update `chapter`
<set>
 	 <if test="id != null" >
    	  id = #{id},
     </if>
 	 <if test="parentId != null" >
    	  parent_id = #{parentId},
     </if>
 	 <if test="lessonId != null" >
    	  lesson_id = #{lessonId},
     </if>
 	 <if test="title != null" >
    	  title = #{title},
     </if>
 	 <if test="chapterType != null" >
    	  chapter_type = #{chapterType},
     </if>
 	 <if test="timeLength != null" >
    	  time_length = #{timeLength},
     </if>
     <if test="refId != null" >
     	  ref_id = #{refId}
     </if>
    </set>
    where id = #{id}
  </update>
 
<select id="findOne" resultMap="baseResultMap" parameterType="long">
	select  
		id,parent_id,lesson_id,title,chapter_type,time_length,ref_id
	from
		`chapter`
	where id = #{id}	
</select>
  
    
</mapper>