<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.mapper.ShortMessageMapper" >

<resultMap id="baseResultMap" type="com.ke.entity.ShortMessage" >
  		<id column="id" property="id" />
 	  	 <result column="message" property="message" />
 	  	 <result column="phone" property="phone" />
 	  	 <result column="error_code" property="errorCode" />
 	  	 <result column="error_msg" property="errorMsg" />
 	  	 <result column="created_time" property="createdTime" />
</resultMap>
  
  
  
<insert id="insert" parameterType="com.ke.entity.ShortMessage" useGeneratedKeys="true" keyProperty="id" >
  insert into `short_message` (message,phone,error_code,error_msg,created_time)
  values (#{message},#{phone},#{errorCode},#{errorMsg},#{createdTime})
</insert>
  
<delete id="delete">
    delete from `short_message` where id = #{id}
</delete>
  
  
<update id="update" parameterType="com.ke.entity.ShortMessage" >
    update `short_message`
    <set >
    	  id = #{id},
    	  message = #{message},
    	  phone = #{phone},
    	  error_code = #{errorCode},
    	  error_msg = #{errorMsg},
    	  	created_time = #{createdTime}
    </set>
    where id = #{id}
 </update>
  
  
<update id="merge" parameterType="com.ke.entity.ShortMessage" >
    update `short_message`
<set>
 	 <if test="id != null" >
    	  id = #{id},
     </if>
 	 <if test="message != null" >
    	  message = #{message},
     </if>
 	 <if test="phone != null" >
    	  phone = #{phone},
     </if>
 	 <if test="errorCode != null" >
    	  error_code = #{errorCode},
     </if>
 	 <if test="errorMsg != null" >
    	  error_msg = #{errorMsg},
     </if>
     <if test="createdTime != null" >
     	  created_time = #{createdTime}
     </if>
    </set>
    where id = #{id}
  </update>
 
<select id="findOne" resultMap="baseResultMap" parameterType="long">
	select  
		id,message,phone,error_code,error_msg,created_time
	from
		`short_message`
	where id = #{id}	
</select>
  
    
</mapper>