<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.mapper.UserMapper" >

<resultMap id="baseResultMap" type="com.ke.entity.User" >
  		<id column="id" property="id" />
 	  	 <result column="phone" property="phone" />
 	  	 <result column="password" property="password" />
 	  	 <result column="nickname" property="nickname" />
 	  	 <result column="is_teacher" property="isTeacher" />
 	  	 <result column="avatar" property="avatar" />
 	  	 <result column="is_frozen" property="isFrozen" />
 	  	 <result column="register_time" property="registerTime" />
 	  	 <result column="last_login_time" property="lastLoginTime" />
 	  	 <result column="last_login_ip" property="lastLoginIp" />
 	  	 <result column="register_ip" property="registerIp" />
</resultMap>
  
  
  
<insert id="insert" parameterType="com.ke.entity.User" useGeneratedKeys="true" keyProperty="id" >
  insert into `user` (phone,password,nickname,is_teacher,avatar,is_frozen,register_time,last_login_time,last_login_ip,register_ip)
  values (#{phone},#{password},#{nickname},#{isTeacher},#{avatar},#{isFrozen},#{registerTime},#{lastLoginTime},#{lastLoginIp},#{registerIp})
</insert>
  
<delete id="delete">
    delete from `user` where id = #{id}
</delete>
  
  
<update id="update" parameterType="com.ke.entity.User" >
    update `user`
    <set >
    	  id = #{id},
    	  phone = #{phone},
    	  password = #{password},
    	  nickname = #{nickname},
    	  is_teacher = #{isTeacher},
    	  avatar = #{avatar},
    	  is_frozen = #{isFrozen},
    	  register_time = #{registerTime},
    	  last_login_time = #{lastLoginTime},
    	  last_login_ip = #{lastLoginIp},
    	  	register_ip = #{registerIp}
    </set>
    where id = #{id}
 </update>
  
  
<update id="merge" parameterType="com.ke.entity.User" >
    update `user`
<set>
 	 <if test="id != null" >
    	  id = #{id},
     </if>
 	 <if test="phone != null" >
    	  phone = #{phone},
     </if>
 	 <if test="password != null" >
    	  password = #{password},
     </if>
 	 <if test="nickname != null" >
    	  nickname = #{nickname},
     </if>
 	 <if test="isTeacher != null" >
    	  is_teacher = #{isTeacher},
     </if>
 	 <if test="avatar != null" >
    	  avatar = #{avatar},
     </if>
 	 <if test="isFrozen != null" >
    	  is_frozen = #{isFrozen},
     </if>
 	 <if test="registerTime != null" >
    	  register_time = #{registerTime},
     </if>
 	 <if test="lastLoginTime != null" >
    	  last_login_time = #{lastLoginTime},
     </if>
 	 <if test="lastLoginIp != null" >
    	  last_login_ip = #{lastLoginIp},
     </if>
     <if test="registerIp != null" >
     	  register_ip = #{registerIp}
     </if>
    </set>
    where id = #{id}
  </update>
 
<select id="findOne" resultMap="baseResultMap" parameterType="long">
	select  
		id,phone,password,nickname,is_teacher,avatar,is_frozen,register_time,last_login_time,last_login_ip,register_ip
	from
		`user`
	where id = #{id}	
</select>
  
<select id="findAll" resultMap="baseResultMap" parameterType="com.ke.model.query.UserQueryModel" >
    select 
   	id,phone,password,nickname,is_teacher,avatar,is_frozen,register_time,last_login_time,last_login_ip,register_ip
    from `user`
   	<where>
   		<if test="registerTimeGTE != null">
			 and register_time &gt;= #{registerTimeGTE}
		</if>
   		<if test="registerTimeLT != null">
			 and register_time &lt; #{registerTimeLT}
		</if>
   		<if test="nicknameLK != null">
			<bind name="nicknameLK" value="'%' + nicknameLK + '%'"/> and nickname like #{nicknameLK}
		</if>
   		<if test="idEQ != null">
			 and id = #{idEQ}
		</if>
	</where>
	<choose>
		<when test="orderByAndDirection != null">
			order by ${orderByAndDirection}
		</when>
		<otherwise>
			order by id desc
		</otherwise> 
	</choose>
	<if test="offset != null">
		limit #{offset}, #{pageSize}
	</if>
  </select>
  
  <select id="count" resultType="_long" parameterType="com.ke.model.query.UserQueryModel" >
    select 
    count(*)
    from `user`
   	<where>
   			<if test="registerTimeGTE != null">
			 and register_time &gt;= #{registerTimeGTE}
		</if>
   			<if test="registerTimeLT != null">
			 and register_time &lt; #{registerTimeLT}
		</if>
   			<if test="nicknameLK != null">
			<bind name="nicknameLK" value="'%' + nicknameLK + '%'"/> and nickname like #{nicknameLK}
		</if>
   			<if test="idEQ != null">
			 and id = #{idEQ}
		</if>
	</where>
  </select>
    
</mapper>