<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.mapper.VideoMapper" >

<resultMap id="baseResultMap" type="com.ke.entity.Video" >
  		<id column="id" property="id" />
 	  	 <result column="chapter_id" property="chapterId" />
 	  	 <result column="title" property="title" />
 	  	 <result column="snapshot" property="snapshot" />
 	  	 <result column="created_time" property="createdTime" />
  		 <result column="video_status" property="videoStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
 	  	 <result column="time_length" property="timeLength" />
 	  	 <result column="origin_key" property="originKey" />
 	  	 <result column="flv_low_key" property="flvLowKey" />
 	  	 <result column="flv_medium_key" property="flvMediumKey" />
 	  	 <result column="flv_high_key" property="flvHighKey" />
 	  	 <result column="mp4_low_key" property="mp4LowKey" />
 	  	 <result column="mp4_medium_key" property="mp4MediumKey" />
 	  	 <result column="mp4_high_key" property="mp4HighKey" />
 	  	 <result column="is_flv_high_success" property="isFlvHighSuccess" />
 	  	 <result column="is_flv_medium_success" property="isFlvMediumSuccess" />
 	  	 <result column="is_flv_low_success" property="isFlvLowSuccess" />
 	  	 <result column="is_mp4_high_success" property="isMp4HighSuccess" />
 	  	 <result column="is_mp4_medium_success" property="isMp4MediumSuccess" />
 	  	 <result column="is_mp4_low_success" property="isMp4LowSuccess" />
</resultMap>
  
  
  
<insert id="insert" parameterType="com.ke.entity.Video" useGeneratedKeys="true" keyProperty="id" >
  insert into `video` (chapter_id,title,snapshot,created_time,video_status,time_length,origin_key,flv_low_key,flv_medium_key,flv_high_key,mp4_low_key,mp4_medium_key,mp4_high_key,is_flv_high_success,is_flv_medium_success,is_flv_low_success,is_mp4_high_success,is_mp4_medium_success,is_mp4_low_success)
  values (#{chapterId},#{title},#{snapshot},#{createdTime},#{videoStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{timeLength},#{originKey},#{flvLowKey},#{flvMediumKey},#{flvHighKey},#{mp4LowKey},#{mp4MediumKey},#{mp4HighKey},#{isFlvHighSuccess},#{isFlvMediumSuccess},#{isFlvLowSuccess},#{isMp4HighSuccess},#{isMp4MediumSuccess},#{isMp4LowSuccess})
</insert>
  
<delete id="delete">
    delete from `video` where id = #{id}
</delete>
  
  
<update id="update" parameterType="com.ke.entity.Video" >
    update `video`
    <set >
    	  id = #{id},
    	  chapter_id = #{chapterId},
    	  title = #{title},
    	  snapshot = #{snapshot},
    	  created_time = #{createdTime},
			video_status = #{videoStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
    	  time_length = #{timeLength},
    	  origin_key = #{originKey},
    	  flv_low_key = #{flvLowKey},
    	  flv_medium_key = #{flvMediumKey},
    	  flv_high_key = #{flvHighKey},
    	  mp4_low_key = #{mp4LowKey},
    	  mp4_medium_key = #{mp4MediumKey},
    	  mp4_high_key = #{mp4HighKey},
    	  is_flv_high_success = #{isFlvHighSuccess},
    	  is_flv_medium_success = #{isFlvMediumSuccess},
    	  is_flv_low_success = #{isFlvLowSuccess},
    	  is_mp4_high_success = #{isMp4HighSuccess},
    	  is_mp4_medium_success = #{isMp4MediumSuccess},
    	  	is_mp4_low_success = #{isMp4LowSuccess}
    </set>
    where id = #{id}
 </update>
  
  
<update id="merge" parameterType="com.ke.entity.Video" >
    update `video`
<set>
 	 <if test="id != null" >
    	  id = #{id},
     </if>
 	 <if test="chapterId != null" >
    	  chapter_id = #{chapterId},
     </if>
 	 <if test="title != null" >
    	  title = #{title},
     </if>
 	 <if test="snapshot != null" >
    	  snapshot = #{snapshot},
     </if>
 	 <if test="createdTime != null" >
    	  created_time = #{createdTime},
     </if>
 	 <if test="videoStatus != null" >
    	  video_status = #{videoStatus},
     </if>
 	 <if test="timeLength != null" >
    	  time_length = #{timeLength},
     </if>
 	 <if test="originKey != null" >
    	  origin_key = #{originKey},
     </if>
 	 <if test="flvLowKey != null" >
    	  flv_low_key = #{flvLowKey},
     </if>
 	 <if test="flvMediumKey != null" >
    	  flv_medium_key = #{flvMediumKey},
     </if>
 	 <if test="flvHighKey != null" >
    	  flv_high_key = #{flvHighKey},
     </if>
 	 <if test="mp4LowKey != null" >
    	  mp4_low_key = #{mp4LowKey},
     </if>
 	 <if test="mp4MediumKey != null" >
    	  mp4_medium_key = #{mp4MediumKey},
     </if>
 	 <if test="mp4HighKey != null" >
    	  mp4_high_key = #{mp4HighKey},
     </if>
 	 <if test="isFlvHighSuccess != null" >
    	  is_flv_high_success = #{isFlvHighSuccess},
     </if>
 	 <if test="isFlvMediumSuccess != null" >
    	  is_flv_medium_success = #{isFlvMediumSuccess},
     </if>
 	 <if test="isFlvLowSuccess != null" >
    	  is_flv_low_success = #{isFlvLowSuccess},
     </if>
 	 <if test="isMp4HighSuccess != null" >
    	  is_mp4_high_success = #{isMp4HighSuccess},
     </if>
 	 <if test="isMp4MediumSuccess != null" >
    	  is_mp4_medium_success = #{isMp4MediumSuccess},
     </if>
     <if test="isMp4LowSuccess != null" >
     	  is_mp4_low_success = #{isMp4LowSuccess}
     </if>
    </set>
    where id = #{id}
  </update>
 
<select id="findOne" resultMap="baseResultMap" parameterType="long">
	select  
		id,chapter_id,title,snapshot,created_time,video_status,time_length,origin_key,flv_low_key,flv_medium_key,flv_high_key,mp4_low_key,mp4_medium_key,mp4_high_key,is_flv_high_success,is_flv_medium_success,is_flv_low_success,is_mp4_high_success,is_mp4_medium_success,is_mp4_low_success
	from
		`video`
	where id = #{id}	
</select>
  
    
</mapper>