<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.mapper.VideoLogMapper" >

<resultMap id="baseResultMap" type="com.ke.entity.VideoLog" >
  		<id column="id" property="id" />
 	  	 <result column="content" property="content" />
  		 <result column="video_log_type" property="videoLogType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
 	  	 <result column="operator_id" property="operatorId" />
 	  	 <result column="created_time" property="createdTime" />
</resultMap>
  
  
  
<insert id="insert" parameterType="com.ke.entity.VideoLog" useGeneratedKeys="true" keyProperty="id" >
  insert into `video_log` (content,video_log_type,operator_id,created_time)
  values (#{content},#{videoLogType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{operatorId},#{createdTime})
</insert>
  
<delete id="delete">
    delete from `video_log` where id = #{id}
</delete>
  
  
<update id="update" parameterType="com.ke.entity.VideoLog" >
    update `video_log`
    <set >
    	  id = #{id},
    	  content = #{content},
			video_log_type = #{videoLogType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
    	  operator_id = #{operatorId},
    	  	created_time = #{createdTime}
    </set>
    where id = #{id}
 </update>
  
  
<update id="merge" parameterType="com.ke.entity.VideoLog" >
    update `video_log`
<set>
 	 <if test="id != null" >
    	  id = #{id},
     </if>
 	 <if test="content != null" >
    	  content = #{content},
     </if>
 	 <if test="videoLogType != null" >
    	  video_log_type = #{videoLogType},
     </if>
 	 <if test="operatorId != null" >
    	  operator_id = #{operatorId},
     </if>
     <if test="createdTime != null" >
     	  created_time = #{createdTime}
     </if>
    </set>
    where id = #{id}
  </update>
 
<select id="findOne" resultMap="baseResultMap" parameterType="long">
	select  
		id,content,video_log_type,operator_id,created_time
	from
		`video_log`
	where id = #{id}	
</select>
  
    
</mapper>